body {
    background-color: royalblue;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 60px;
}

a {
    font-size: 22px;
    font-style: italic;
    font-family: Bebas, calibri, Gill Sans, Sans-serif;
}

div {
    background-color: white;
    height: 100px;
    width: 350px;
    margin: auto;
    padding: auto;
    padding-top: 15px;
}
